amqp==2.2.2
billiard==3.5.0.3
celery==4.1.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
dj-database-url==0.5.0
Django==1.11.11
django-allauth==0.35.0
django-appconf==1.0.2
django-avatar==4.1.0
django-braces==1.12.0
django-compressor==2.2
django-crispy-forms==1.7.2
django-csp==3.4
django-filter==1.1.0
django-jsonfield==1.0.1
django-redis-cache==1.7.1
django-secure==1.0.1
django-shortuuidfield==0.1.3
djangorestframework==3.7.7
dnspython==1.15.0
email-validator==1.0.2
gunicorn==19.7.1
idna==2.6
influxdb==5.2.0
kaitaistruct==0.8
kombu==4.1.0
lxml==4.2.1
Markdown==2.6.11
mysqlclient==1.3.12
oauthlib==2.0.6
olefile==0.45.1
Pillow==5.0.0
pyephem==3.7.6.0
PyJWT==1.7.1
python-dateutil==2.7.3
python-decouple==3.1
python-dotenv==0.6.5
python-openid==2.2.5
pytool==3.10.0
pytz==2018.3
rcssmin==1.0.6
redis==2.10.6
requests==2.18.4
requests-cache==0.4.13
requests-oauthlib==0.8.0
rjsmin==1.0.12
satellitetle==0.5.0
satnogsdecoders==0.1
sentry-sdk==0.6.2
sgp4==1.4
shortuuid==0.5.0
simplejson==3.16.0
six==1.11.0
social-auth-app-django==1.2.0
social-auth-core==2.0.0
Unipath==1.1
urllib3==1.22
vine==1.1.4
