{% load static %}
<div class="row d-flex" id="search">
<div class="col-lg-7">
    <input type="text" list="satellites-list"
            class="border rounded form-control form-control-sm satellite-search"
            placeholder="Search by Name or NORAD Cat ID"
            autocomplete="off">
</div>
<div class="col-lg-5 d-flex d-lg-flex align-self-center justify-content-lg-center align-items-lg-center">
    <p class="d-inline-flex align-items-lg-center statistics" title="satellites" data-toggle="tooltip">
    <img src="{% static 'img/satellites.png' %}">
    {{ statistics.total_satellites }}
    </p>
    <p class="d-inline-flex align-items-lg-center statistics" title="transmitters" data-toggle="tooltip">
    <img src="{% static 'img/transmitters.png' %}">
    {{ statistics.transmitters }}
    </p>
    {% if transmitter_suggestions %}
    <p class="d-inline-flex align-items-lg-center statistics" title="transmitter_suggestions" data-toggle="tooltip">
        <img src="{% static 'img/transmitter_suggestions.png' %}">
        {{ transmitter_suggestions }}
    </p>
    {% endif %}
    <p class="d-inline-flex align-items-lg-center statistics" title="telemetry" data-toggle="tooltip">
    <img src="{% static 'img/payloads.png' %}">
    {{ statistics.total_data }}
    </p>
    <p class="d-inline-flex align-items-lg-center statistics" title="contributors" data-toggle="tooltip">
    <img src="{% static 'img/contributors.png' %}">
    {{ contributors }}
    </p>
</div>
</div>